!_build/
_build/*

!_build/test
_build/test/*

!_build/test/*.plt
!_build/test/*.plt.hash

!/_build/test/lib
/_build/test/lib/*
!/_build/test/lib/ynd_phx_bootstrap
/_build/test/lib/ynd_phx_bootstrap/*
!/_build/test/lib/ynd_phx_bootstrap/ebin

/build/report/junit/*
!/build/report/junit/.gitkeep
/db
/deps
/*.ez

erl_crash.dump

/config/*.secret.exs
.env
docker-compose.dist-build.yml
.DS_Store
